

#whole-form {
    display: flex;
}
/* 

#taskForm-container {
    border: black, 5%;
    background: rgb(0, 255, 13);
    margin: 10%;
    padding: 10%;
    display: flex;
    flex: column;
}

#taskContainer {
    border: black, 1%;
    background: rgb(77, 238, 13);
    display: flex;
    flex: column;
}  */